page-profile {
    img {
        border-radius: 50%;
        overflow: hidden;
        min-height: 150px;
        min-width: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 75%;
        border: 2px solid #eee;
      }
    .logout-row{
        position: absolute;
        bottom: 7px;
        width: 55%;
        left: 23%;
    }
    .profile-card{
        margin-bottom: 50px;
        height: 100%;
        overflow: auto !important;
    }
    .mr-10{
        margin-right: 10px;
    }
    .mb-30{
        margin-bottom: 30px;
    }
    .width-50{
        width: 53%;
        margin: 0 auto;
    }
}
