page-home {
  ion-badge{
    right: 27% !important;
    top: 9% !important;
    padding: 1px 4px !important;
    position: absolute !important;
    height: auto !important;
    font-size: 5px !important;
    line-height: 10px !important;
    color: #debcd7 !important;
    border-radius: 50% !important;
    opacity: 0.8 !important;
    background-color: #debcd7 !important;
  }
}
