page-signin {
  .scroll-content{
    padding-bottom: 0 !important;
  }
  img{
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .item-md{
    padding-left: 0 !important;
  }
  .mb-75{
    margin-bottom: 75px;
  }
  .mr-10{
    margin-right: 10px;
  }
}
